<html>
<head>
	<title>run</title>
</head>
<link rel="stylesheet" href="/static/css/main/run_main.css">
<body>
<div id="question_box">
	<div id="input_title"><a>질문을 입력하여 테스트 해 보세요.</a></div>	
	<input id="question" type="text">
</div>
<div id="my_question_title"><a>내질문</a></div>
<p>
<div id="my_question">question</div>
<p>
<div id="answer_title"><a>답변</a></div>
<p>
<div id="answer">answer</div>
<p>
<div id="extracted_word_title">단어</div>
<p>
<div id="extracted_word">a,b</div>
<p>
<div id="extracted_entity_title">엔티티</div>
<p>
<div id="extracted_entity">entities</div>
<p>
<div id="right_point_title">일치율</div>
<p>
<div id="right_point">error point</div>
<input id="user" type="hidden" value="{{ user }}">
<input id="project" type="hidden" value="{{ project }}">
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src='/static/js/popup/popup_size.js'></script>
<script src="/static/js/main/run_main.js"></script>
</body>
</html>
