<html>
<head>
	<title>voca_manager</title>
</head>
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/icon.css">
<link rel="stylesheet" href="/static/css/main/voca_manager_main.css">
<link rel="stylesheet" type="text/css" href="/static/lib/sigma_grid/gt_grid.css">
<link rel="stylesheet" type="text/css" href="/static/lib/sigma_grid/skin/vista/skinstyle.css">
<link rel="stylesheet" type="text/css" href="/static/lib/sigma_grid/skin/mac/skinstyle.css">
<link rel="stylesheet" type="text/css" href="/static/lib/sigma_grid/skin/pink/skinstyle.css">
<body>
<div class="div1">
	<div class="div1-inner">
		<img class="right-arrow" src="static/res/right_arrow.png" />&nbsp;<a>신규단어 : </a><input id="voca_input" type="text">
		<button id="submit_voca">저장</button>
	</div>
</div>
<p>
<div class="div2">
	<div class="div2-inner">
		<img class="right-arrow" src="static/res/right_arrow.png" />&nbsp;
		<input id="subject" type="text" name="subject" size="20">
		<button id="search_voca">조회</button>
		<button id="delete_voca">삭제</button>
		<button id="submit_voca_keyword">키워드로 등록/해제</button>
	</div>
</div>
<p>
<div>
	<div id="voca_grid"></div>
</div>
<input id="voca_nm" type="hidden">
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src="/static/lib/sigma_grid/gt_grid_all.js"></script>
<script src="/static/lib/sigma_grid/gt_msg_en.js"></script>
<script src="/static/js/main/voca_manager_main.js"></script>
</body>
</html>
