.div1 {
	position: relative;
	width: 905px;
	height: 32px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #F6F6F6;
}

.div1-inner {
	position: relative;
	left: 5px;
	top: 5px;
}

#voca_input {
	position: relative;
	left: 5px;
}

#submit_voca {
	position: relative;
	left: 5px;
}

.div2 {
	position: relative;
	width: 905px;
	height: 32px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #F6F6F6;
}

.div2-inner {
	position: relative;
	left: 5px;
	top: 5px;
}
