<html>
<head>
	<title>new_synonym</title>
</head>
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/icon.css">
<link rel="stylesheet" href="/static/css/popup/new_synonym_pop.css">
<body>
<div class="div1">
	<div class="div1-inner">	
		<img class="right-arrow" src="static/res/right_arrow.png" />&nbsp;<a>신규 동의어 입력</a>
	</div>
</div>
<p>
<input id="synonym_nm" type="text">
<p>
<div class="div2">
	<div class="div2-inner">
		<img class="right-arrow" src="static/res/right_arrow.png" />&nbsp;<a>태그명 입력</a>
	</div>
</div>
<p>
<input id="synonym_tag" type="text">
<p>
<button id="submit_synonym">서버로 전송(저장)</button>
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src="/static/js/popup/new_synonym_pop.js"></script>
</body>
</html>
