<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Chat Widget</title>
		<link rel="stylesheet" href="/static/css/chat/group_chat_reset.css">
        <link rel="stylesheet" href="/static/css/chat/group_chat.css">
	</head>
	<body>
		<div class="container clearfix">
			<div class="people-list" id="people-list">
      			<ul class="list">
      			</ul>
    		</div>
			<div class="chat">
	      		<div class="chat-history">
	        		<ul>
	        		</ul>
	      		</div> <!-- end chat-history -->
	      		<div class="chat-message clearfix">
	        		<textarea name="message-to-send" id="message-to-send" placeholder ="메세지를 입력하세요" rows="3"></textarea>
	        		<i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
	        		<i class="fa fa-file-image-o"></i>
	        		<button>전송</button>
	      		</div> <!-- end chat-message -->
	    	</div> <!-- end chat -->
  		</div> <!-- end container -->
		<input id="user" type="hidden" value="{{ user }}">
		<input id="project" type="hidden" value="{{ project }}">
		<input id="emno" type="hidden" value="{{ emno }}">
		<input id="room_name" type="hidden" value="{{ room_name }}">
		<input id="group_chat_ip" type="hidden" value="{{ group_chat_ip }}">
		<input id="url" type="hidden">
		<script src='/static/lib/jquery/jquery.min.js'></script>
		<script src='/static/lib/handlebars/handlebars.min.js'></script>
		<script src='/static/lib/list/list.min.js'></script>
		<script src="/static/js/chat/group_chat.js"></script>
	</body>
</html>
