<html>
<head>
	<title>dynamic_info</title>
</head>
<link rel="stylesheet" href="/static/css/button.css">
<link rel="stylesheet" href="/static/css/icon.css">
<link rel="stylesheet" href="/static/css/chat_popup/dynamic_info_pop.css">
<body>
<input id="user" type="hidden" value="{{ user }}">
<input id="project" type="hidden" value="{{ project }}">
<input id="param_holder" type="hidden" value="{{ param_holder }}">
<input id="title" type="hidden" value="{{ title }}">
<input id="column_info" type="hidden" value="{{ column_info }}">
<input id="content" type="hidden" value="{{ content }}">
<script src='/static/lib/jquery/jquery.min.js'></script>
<script src="/static/js/chat_popup/dynamic_info_pop.js"></script>
<script src="/static/js/util/text_util.js"></script>
</body>
</html>
